*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

@media (min-width: 500px) {
  body {
    height: 100vh;
  }
}

html {
  color: #fff;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  border: 5px solid transparent;
  background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff)
      border-box,
    /* Gradient border */ #fff; /* White board background */
  background-clip: border-box;
  height: 639px;
  width: 639px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row {
  width: 100%;
  height: 70px;
  display: flex;
}

.col {
  width: 70px;
  height: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: #fff;
}

span {
  color: #000;
  font-size: xx-large;
}

.col2,
.col5 {
  position: relative;
}

.col2::after,
.col5::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
}

.row2,
.row5 {
  position: relative;
}

.row2::after,
.row5::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
}

.gameBoard,
.row,
.col {
  box-sizing: border-box;
}

.headerGame {
  background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 20px;
  font-size: 150px;
}

@media (max-height: 800px) {
  .gameBoard {
    border: 5px solid transparent;
    background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
    height: 458px;
    width: 450px;
    background-color: #fff;
    margin-top: -40px;
  }
  .row {
    width: 100%;
    height: 50px;
    display: flex;
  }
  .headerGame {
    background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 50px;
    margin-top: 0;
  }

  span {
    color: #000;
    font-size: larger;
  }
  .divCards div {
    background-color: white;
    width: calc(100% / 16) !important;
    height: 75%;
    margin: 10px;
    display: flex;
    font-size: larger;
  }
  .heartDiv img {
    height: 80px !important;
  }
}

.gameBoard div :hover {
  background-color: #6477e2;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
  transition: background-color 0.3s ease-in-out;
}

.divCards {
  height: calc(100% / 10);
  width: 639px;
  margin-top: 15px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.divCards div {
  background-color: white;
  width: calc(100% / 13);
  height: 90%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  position: relative;
  transition: top 0.3s;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.divCards div:hover {
  transform: scale(1.15);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.numberHover {
  transform: scale(1.5);
}

.numberHoverDone {
  visibility: hidden;
}

.wrongCell {
  background-color: red;
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.heartDiv {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.heartDiv img {
  height: 100px;
}

.grayImg {
  filter: grayscale(100%);
}

.timerDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 400px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.timer {
  border: 5px solid transparent;
  background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
  background-clip: border-box;
  font-size: 75px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  height: 100%;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startPause {
  margin-left: 15px;
  height: 100px;
}

.homePageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homePageDiv h1 {
  background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.description {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.detailsInstruction {
  width: 100%;
  text-align: left;
}

details {
  margin: 10px 0;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details p,
details ul {
  margin-left: 20px;
  font-size: 15px;
}

.homePageDiv span {
  color: #fcfcfc;
}

ul {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .homePageDiv {
    width: 90%;
  }

  .description {
    font-size: 14px;
  }
}

.detailsInstruction h2 {
  text-align: center;
}

.headerImg {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerImg img {
  height: 150px;
}

.levelsDiv {
  display: flex;
  gap: 10px;
}

.levels h2 {
  font-size: xx-large;
}

.levelsDiv span {
  background: linear-gradient(90deg, #e6abff, #6dc7ff, #c822ff, #1a6dff);
  padding: 5px;
  border: 3px solid transparent;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  color: #000;
}

summary {
  font-size: x-large;
}

details p,
li {
  font-size: x-large;
}
